<main class="flex-shrink-0">
    <div>
    <div class="col-lg-12 col-xl-12 col-xxl-12 background-skew">
    <div class="container left-line">
        <section class="py-5 flex">
            <div class="container px-5 my-5">
                <div class="container px-5">

                    <div class="container px-5 my-5 absolute">
                        <h1 class="huge opacity-02">We are vPopulus</h1>
                    </div>

                    <h1 class="display-5 fw-bolder text-white mb-2 bottom-line">LATEST PATCH NOTE</h1>

                    <div class="col-xl-12 col-xxl-12 d-xl-block text-center"><a href="#"><img
                                class="img-fluid rounded-3 my-5 hover" src="../assets/ammo.jpg"
                                alt="twitch logos image" /></a>
                        <div class="row gx-5 align-items-center justify-content-center">
                        </div>
                        <div class="col-lg-12 col-xl-12 col-xxl-12 news">
                            <div class="my-5 text-center text-xl-start">
                                <h3>Adding flea market</h3>
                                <p>Recently, Vpopulus has gained attention on the streaming platform, Twitch,
                                    where players have been streaming their gameplay and participating in
                                    tournaments and events. The platform has allowed players to showcase their
                                    skills, connect with other players, and share strategies and tips to enhance
                                    their gameplay.</p>
                                <p>Vpopulus offers a unique and immersive gaming experience where players can
                                    explore different political and economic systems, manage resources, and
                                    navigate through various challenges to build a prosperous nation. The game
                                    also encourages players to interact with each other and participate in
                                    global events, creating a vibrant and engaging community.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-outline-light btn-lg px-4" href="#!">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="arrow-down" href="#news"><fa-icon [icon]="faArrowDownLong"></fa-icon></a>
    </div>
</div>

    <section class="py-5">
        <div class="container left-line px-5 my-5">

            <!-- News -->
            <div data-aos="fade-up" data-aos-offset="800" class="row gx-5">
                <div class="col-lg-12 mb-5">
                    <div class="card h-100 shadow border-0 py-4">
                        <h2 class="text-center">News</h2>
                        <!-- News 1 -->
                        <div id="news" class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-xl-5 col-xxl-4 d-none d-xl-block text-center"><img
                                        class="img-fluid rounded-3 my-5" src="../assets/twitch.png" alt="twitch logo" />
                                </div>
                                <div class="col-lg-8 col-xl-7 col-xxl-8">
                                    <div class="my-5 text-center text-xl-start">
                                        <h3>Twitch streaming</h3>
                                        <p>Recently, Vpopulus has gained attention on the streaming platform, Twitch,
                                            where players have been streaming their gameplay and participating in
                                            tournaments and events. The platform has allowed players to showcase their
                                            skills, connect with other players, and share strategies and tips to enhance
                                            their gameplay.</p>
                                        <p>Vpopulus offers a unique and immersive gaming experience where players can
                                            explore different political and economic systems, manage resources, and
                                            navigate through various challenges to build a prosperous nation. The game
                                            also encourages players to interact with each other and participate in
                                            global events, creating a vibrant and engaging community.</p>
                                        <div
                                            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-outline-purple btn-lg px-4" href="#!">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News 2 -->
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-xl-5 col-xxl-4 d-none d-xl-block text-center"><img
                                        class="img-fluid rounded-3 my-5" src="../assets/merch.png"
                                        alt="vPopulus merch" />
                                </div>
                                <div class="col-lg-8 col-xl-7 col-xxl-8">
                                    <div class="my-5 text-center text-xl-start">
                                        <h3>Merach realease</h3>
                                        <p>Recently, Vpopulus has gained attention on the streaming platform, Twitch,
                                            where players have been streaming their gameplay and participating in
                                            tournaments and events. The platform has allowed players to showcase their
                                            skills, connect with other players, and share strategies and tips to enhance
                                            their gameplay.</p>
                                        <p>Vpopulus offers a unique and immersive gaming experience where players can
                                            explore different political and economic systems, manage resources, and
                                            navigate through various challenges to build a prosperous nation. The game
                                            also encourages players to interact with each other and participate in
                                            global events, creating a vibrant and engaging community.</p>
                                        <div
                                            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-outline-purple btn-lg px-4" href="#!">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

            <!-- Call to action-->
            <aside data-aos="fade-up" data-aos-offset="500" class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div
                    class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Never miss any news</div>
                        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..."
                                aria-label="Email address..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</div>
</main>