.rank{
    margin: 20px 30px 10px 30px;
    padding: 3px;
  
    display: flex;
    align-items: center;
  }
  
  .d-flex-end{
    display: flex;
    justify-content: flex-end;
  }

  .d-align-flex-end{
    display: flex;
    align-items: flex-end;
  }


  
  .paddig-l-r-3{
    padding-left: 3em;
    padding-right: 3em;

    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .image-background_rank {
    background-image: url("../assets/background_rank.png") !important;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-background-city-back{
    background-image: url("../assets/city_background.png") !important;
    width: 100%;
    height: 100%;

    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .image-background-city-vetorial{
    background-image: url("../assets/city.png") !important;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-background-city-footer{
    background-image: url("../assets/city-footer.png") !important;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .circle{
    width: 25px;
    position: relative;
    left: -10px;
  }

  .d-flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .d-flex-between p{
    margin: 0;
  }

  .d-block{
    display: block;
  }

  .d-flex-center {
    display: flex;
    justify-content: center;
    color: #fff !important;
    padding-bottom: 5em;
  }

  .social_media img, svg{
    width: 40px;
    fill: #fff;
  }

  .huge{
    font-size: 400px;
    -webkit-text-stroke-color:#505050;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
  }

  .numberig-100{
    position: relative;
    left: -100px;
  }

  .numberig-80{
    position: relative;
    left: -80px;
  }

  .numberig-300{
    position: relative;
    left: -300px;
  }

  .numberig h1{
    position: relative;
    left: -50px;
  }

  .margin-negative{
    margin-top: -200px;
  }

/*   div{
    outline: solid 2px red;
  } */

