<main class="flex-shrink-0">
    <!-- Header-->
    <div class="container px-5 my-5 absolute">
        <h1 class="huge opacity-02">We are vPopulus</h1>
    </div>
    <header class="bg-white py-5">
        <div data-aos="fade-down" data-aos-duration="1000" class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-purple mb-2">Free to play MMORPG game </h1>
                        <h2>Build</h2>

                        <h1><span class="flag-icon flag-icon-gb"></span></h1>
                        <span class="flag-icon flag-icon-us"></span>
                        <i class="flag-icon flag-icon-gb"></i>

                        <p class="lead fw-normal text-purple mb-4">Do you want to simulate a life of a politic and
                            try your best to get your coutry to success?</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Free Play</a>
                            <a class="btn btn-outline-purple btn-lg px-4" href="#!">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                        src="../assets/map-01.png" alt="..." /></div>
            </div>
        </div>
    </header>
    <!-- Game type section-->
    <section data-aos="fade-up" data-aos-duration="1000" class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">Strategy based game</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="h5">Strategy</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a
                                bit more text.</p>
                        </div>



                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-building"></i></div>
                            <h2 class="h5">Economics</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a
                                bit more text.</p>
                        </div>



                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Politics</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a
                                bit more text.</p>
                        </div>



                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Nations</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a
                                bit more text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial section-->
    <div class="py-5 bg-light image-background-city-back">
        <div data-aos="fade-up" class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"Working with Start Bootstrap templates has saved me tons of
                            development time when building new projects! Starting with a Bootstrap template just makes
                            things easier!"</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d"
                                alt="..." />
                            <div class="fw-bold">
                                Tom Ato
                                <span class="fw-bold text-primary mx-1">/</span>
                                CEO, Pomodoro
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Features section-->
    <section class="py-5">
        <div class="container px-5 my-5">


            <div data-aos="fade-right" class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Features</h2>
                        <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                    </div>
                </div>
            </div>



            <div data-aos="fade-right" data-aos-offset="200" class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="../assets/comunity.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!">
                                <h5 class="card-title mb-3">Comunity</h5>
                            </a>
                            <p class="card-text mb-0">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>



                <div data-aos="fade-right" data-aos-offset="300" class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="../assets/axe.png" alt="character grabing a box" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!">
                                <h5 class="card-title mb-3">P v P battles</h5>
                            </a>
                            <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of
                                each card. Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>



                <div data-aos="fade-right" data-aos-offset="400" class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="../assets/character.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!">
                                <h5 class="card-title mb-3">Charater development</h5>
                            </a>
                            <p class="card-text mb-0">Some more quick example text to build on the card title and make
                                up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <!-- Vectorial city -->
     <section data-aos="fade-left" data-aos-offset="400" class="py-5 image-background-city-vetorial d-none d-xl-block">
        <div class="container px-5 my-5 d-flex-end">

            <div class="paddig-l-r-3 ">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Learn more</a>
                <p class="lead fw-normal text-muted mb-5">Available on web browser</p>
            </div>
        </div>
    </section>



    <!-- Numerating -->
    <section class="py-5">
        <div class="container px-5 my-5">

            <!-- slightly left container -->
            <div data-aos="fade-right" data-aos-offset="700" class="d-flex-between margin-negative">
                <div></div>
                <div class="col-lg-8 col-xl-7 col-xxl-6 d-flex-between rel-right">
                    <div>
                        <h1 class="huge">1</h1>
                    </div>
                     <div class="numberig numberig-80">
                        <h1>Fight for your country</h1>
                        <p>Choose your country  to fight to and get rewards 
                        by helping the coutry comunity </p>
                    </div>
                </div>
                <div></div>
            </div>



            <!-- slightly right container -->
            <div data-aos="fade-left" data-aos-offset="700" class="d-flex-between margin-negative">
                <div></div>
                <div class="col-lg-8 col-xl-7 col-xxl-6 d-flex-end align-items-center">
                    <div>
                        <h1 class="huge">2</h1>
                    </div>
                     <div class="numberig numberig-100">
                        <h1>Get a job</h1>
                        <p>A job so you can get the daily rewards
                            so you can upgrade your inventory</p>
                    </div>
                </div>
            </div>


            <!-- slightly left container -->
            <div data-aos="fade-right" data-aos-offset="700" class="d-flex-between margin-negative">
                <div></div>
                <div class="col-lg-8 col-xl-7 col-xxl-9 d-flex-between">
                    <div>
                        <h1 class="huge">3</h1>
                    </div>
                     <div class="numberig numberig-300">
                        <h1>Battle other citizens and coutries</h1>
                        <p>For every battle won you get a reward,
                            but if you lose you’re punished</p>
                    </div>
                </div>
                <div></div>
            </div>



            <!-- slightly right container -->
            <div data-aos="fade-left" data-aos-offset="700" class="d-flex-between margin-negative">
                <div></div>
                <div class="col-lg-8 col-xl-7 col-xxl-6 d-flex-end align-items-center">
                    <div>
                        <h1 class="huge">4</h1>
                    </div>
                     <div class="numberig numberig-100">
                        <h1>Fight for your country</h1>
                        <p>Choose your country  to fight to and get rewards 
                        by helping the coutry comunity </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Ranking Section -->
    <section class="py-5">
        <div data-aos="fade-up" data-aos-offset="300" class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2>Rankings</h2>
                        <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                    </div>
                </div>
            </div>

            <!-- Coutries rank -->
            <div data-aos="fade-up" data-aos-offset="700"  class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0 py-4">
                        <h2 class="text-center">Citizens Rank</h2>

                        <!-- citizen -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <img class="rounded-circle me-3" src="../assets/citizen (1).png" alt="citizen 1" />
                                <p>Kattlot</p>
                            </div>
                        </div>

                        <!-- citizen -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">2</div>

                            <div class="d-flex-between">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <img class="rounded-circle me-3" src="../assets/citizen (2).png" alt="citizen 1" />
                                <p>flepy99</p>
                            </div>
                        </div>


                        <!-- citizen -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">3</div>

                            <div class="d-flex-between">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <img class="rounded-circle me-3" src="../assets/citizen (3).png" alt="citizen 1" />
                                <p>ludecris</p>
                            </div>
                        </div>


                        <!-- citizen -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">4</div>

                            <div class="d-flex-between">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <img class="rounded-circle me-3" src="../assets/citizen (4).png" alt="citizen 1" />
                                <p>Klamark_89</p>
                            </div>
                        </div>


                        <!-- citizen -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">5</div>

                            <div class="d-flex-between">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <img class="rounded-circle me-3" src="../assets/citizen (5).png" alt="citizen 1" />
                                <p>sharafump</p>
                            </div>
                        </div>


                        <!-- citizen -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">6</div>

                            <div class="d-flex-between">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <img class="rounded-circle me-3" src="../assets/citizen (6).png" alt="citizen 1" />
                                <p>luminis</p>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- Countries Rank -->
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0 py-4">
                        <h2 class="text-center">Countries Rank</h2>

                        <!-- country -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between py-2">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <div class="px-2"><span class="fi fi-tr"></span></div>
                                <div class="px-3"><p>Turkey</p></div> 
                            </div>
                        </div>



                        <!-- country -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between py-2">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <div class="px-2"><span class="fi fi-ch"></span></div>
                                <div class="px-3"><p>Switzerland</p></div> 
                            </div>
                        </div>



                        <!-- country -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between py-2">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <div class="px-2"><span class="fi fi-ar"></span></div>
                                <div class="px-3"><p>Argentina</p></div> 
                            </div>
                        </div>



                        <!-- country -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between py-2">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <div class="px-2"><span class="fi fi-pt"></span></div>
                                <div class="px-3"><p>Portugal</p></div> 
                            </div>
                        </div>




                        <!-- country -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between py-2">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <div class="px-2"><span class="fi fi-us"></span></div>
                                <div class="px-3"><p>USA</p></div> 
                            </div>
                        </div>




                        <!-- country -->
                        <div class="rank shadow border-0 py-2">
                            <div class="rounded-circle bg-yellow circle text-center">1</div>

                            <div class="d-flex-between py-2">
                                <!-- <span class="flag-icon flag-icon-af"></span> -->
                                <div class="px-2"><span class="fi fi-se"></span></div>
                                <div class="px-3"><p>Sweden</p></div> 
                            </div>
                        </div>

                        

                        

                    </div>
                </div>


                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0 py-4">
                        <h2 class="text-center">On going battles</h2>

                        <!-- battle -->
                        <div class="rank shadow border-0 py-2">
                            <div class="d-flex-between width-100 py-2 px-4">

                            <div>
                                <span class="fi fi-pt"></span>
                            </div>
                                <p>VS</p>
                            <div>

                            </div>
                                <span class="fi fi-se"></span>
                            </div>
                        </div>


                        <!-- battle -->
                        <div class="rank shadow border-0 py-2">
                            <div class="d-flex-between width-100 py-2 px-4">

                            <div>
                                <span class="fi fi-ch"></span>
                            </div>
                                <p>VS</p>
                            <div>

                            </div>
                                <span class="fi fi-gb"></span>
                            </div>
                        </div>


                        <!-- battle -->
                        <div class="rank shadow border-0 py-2">
                            <div class="d-flex-between width-100 py-2 px-4">

                            <div>
                                <span class="fi fi-es"></span>
                            </div>
                                <p>VS</p>
                            <div>

                            </div>
                                <span class="fi fi-se"></span>
                            </div>
                        </div>


                        <!-- battle -->
                        <div class="rank shadow border-0 py-2">
                            <div class="d-flex-between width-100 py-2 px-4">

                            <div>
                                <span class="fi fi-gb-eng"></span>
                            </div>
                                <p>VS</p>
                            <div>

                            </div>
                                <span class="fi fi-fr"></span>
                            </div>
                        </div>


                        <!-- battle -->
                        <div class="rank shadow border-0 py-2">
                            <div class="d-flex-between width-100 py-2 px-4">

                            <div>
                                <span class="fi fi-na"></span>
                            </div>
                                <p>VS</p>
                            <div>

                            </div>
                                <span class="fi fi-gr"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>






    <section class="py-5">
        <div class="container px-5 my-5">

            <!-- News -->
            <div data-aos="fade-up" data-aos-offset="800" class="row gx-5">
                <div class="col-lg-12 mb-5">
                    <div class="card h-100 shadow border-0 py-4">
                        <h2 class="text-center">News</h2>
                        <!-- News 1 -->
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-xl-5 col-xxl-4 d-none d-xl-block text-center"><img
                                        class="img-fluid rounded-3 my-5" src="../assets/twitch.png" alt="twitch logo" />
                                </div>
                                <div class="col-lg-8 col-xl-7 col-xxl-8">
                                    <div class="my-5 text-center text-xl-start">
                                        <h3>Twitch streaming</h3>
                                        <p>Recently, Vpopulus has gained attention on the streaming platform, Twitch,
                                            where players have been streaming their gameplay and participating in
                                            tournaments and events. The platform has allowed players to showcase their
                                            skills, connect with other players, and share strategies and tips to enhance
                                            their gameplay.</p>
                                        <p>Vpopulus offers a unique and immersive gaming experience where players can
                                            explore different political and economic systems, manage resources, and
                                            navigate through various challenges to build a prosperous nation. The game
                                            also encourages players to interact with each other and participate in
                                            global events, creating a vibrant and engaging community.</p>
                                        <div
                                            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-outline-purple btn-lg px-4" href="#!">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News 2 -->
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-xl-5 col-xxl-4 d-none d-xl-block text-center"><img
                                        class="img-fluid rounded-3 my-5" src="../assets/merch.png"
                                        alt="vPopulus merch" /></div>
                                <div class="col-lg-8 col-xl-7 col-xxl-8">
                                    <div class="my-5 text-center text-xl-start">
                                        <h3>Merach realease</h3>
                                        <p>Recently, Vpopulus has gained attention on the streaming platform, Twitch,
                                            where players have been streaming their gameplay and participating in
                                            tournaments and events. The platform has allowed players to showcase their
                                            skills, connect with other players, and share strategies and tips to enhance
                                            their gameplay.</p>
                                        <p>Vpopulus offers a unique and immersive gaming experience where players can
                                            explore different political and economic systems, manage resources, and
                                            navigate through various challenges to build a prosperous nation. The game
                                            also encourages players to interact with each other and participate in
                                            global events, creating a vibrant and engaging community.</p>
                                        <div
                                            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-outline-purple btn-lg px-4" href="#!">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

                <!-- Call to action-->
                <aside data-aos="fade-up" data-aos-offset="500" class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div
                        class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white">Never miss any news</div>
                            <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                        </div>
                        <div class="ms-xl-4">
                            <div class="input-group mb-2">
                                <input class="form-control" type="text" placeholder="Email address..."
                                    aria-label="Email address..." aria-describedby="button-newsletter" />
                                <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                            </div>
                            <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                        </div>
                    </div>
                </aside>
            </div>
    </section>

</main>
